{% extends "layout.html" %}

{% block title %}
    Buy Shares
{% endblock %}

{% block main %}

<h3>Buy Shares</h3>

<form actio="/buy" method="post">
    <label for="symbol">Share symbol</label> <div class="mb-3">
        <br>
         <input autocomplete="off" autofocus="" class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
    </div>
    <label for="shares">Shares</label> <div class="mb-3">
        <br>
        <input autocomplete="off" class="form-control mx-auto w-auto" min="1" id="shares" name="shares" placeholder="Shares" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Buy shares</button>

</form>
{% endblock %}
